@import './variables.scss';
@import './mixins.scss';

.start {
  @include cardLinePosition(top, $colorNewspapers);
  @include cardImages (start, 40px, 40px);
}

.quibbler {
  @include cardImages (quibbler, 17px, 68px);
  @include cardLinePosition(top, $colorNewspapers);
}

.today {
  @include cardLinePosition(top, $colorNewspapers);
  @include cardImages (today, 26px, 64px);
}

.hat {
  @include cardLinePosition(top, $colorNewspapers);
  @include cardImages (hat, 10px, 50px);
}

.dayly_prophet {
  @include cardLinePosition(top, $colorNewspapers);
  @include cardImages (dayly_prophet, 13px, 77px);
}


.add_money_v {
  @include cardLinePosition(top, $colorNewspapers);
  @include cardImages (add_money_v, 13px, 32px);
}

.gryffindor {
  @include cardLinePosition(top, 'empty', true);
  @include cardImages (gryffindor, 13px, 49px);
}

.spells {
  @include cardLinePosition(top, $colorNewspapers);
  @include cardImages (spells, 19px, 27px);
}

.wheezes {
  @include cardLinePosition(top, $colorShops);
  @include cardImages (wheezes, 15px, 56px);
}


.give_money_v {
  @include cardLinePosition(top, $colorNewspapers);
  @include cardImages (give_money_v, 13px, 33px);
}

.zonko {
  @include cardLinePosition(top, $colorShops);
  @include cardImages (zonko, 30px, 62px);
}

.borgin {
  @include cardLinePosition(top, $colorShops);
  @include cardImages (borgin, 23px, 63px);
}

.azkaban {
  @include cardLinePosition(top, $colorShops);
  @include cardImages (azkaban, 22px, 119px);
  @include cardImages (dementor, 56px, 16px);
}

.kingscross {
  @include cardLinePosition(left, $colorTransport);
  @include cardImages (kingscross, 63px, 16px);
}

.give_money_h {
  @include cardLinePosition(left, $colorNewspapers);
  @include cardImages (give_money_h, 40px, 14px);
}


.ministryMagic {
  @include cardLinePosition(right, $colorMinistryMagic);
  @include cardImages (ministryMagic, 66px, 18px);
}
.add_money_h {
  @include cardLinePosition(right, $colorNewspapers);
  @include cardImages (add_money_h, 28px, 13px);
}

.apparition {
  @include cardLinePosition(left, $colorTransport);
  @include cardImages (apparition, 52px, 27px);
}

.secretDepartament {
  @include cardLinePosition(right, $colorMinistryMagic);
  @include cardImages (secretDepartament, 76px, 22px);
}

.hufflepuff {
  @include cardLinePosition(left, 'empty', true);
  @include cardImages (hufflepuff, 51px, 13px);
}

.ravenclaw {
  @include cardLinePosition(right, 'empty', true);
  @include cardImages (ravenclaw, 51px, 17px);
}

.invisibleCloak {
  @include cardLinePosition(left, $colorDeath);
  @include cardImages (invisibleCloak, 60px, 28px);
}

.grimmauldPlace {
  @include cardLinePosition(right, $colorPlaces);
  @include cardImages (grimmauldPlace, 50px, 21px);
}

.elderWand {
  @include cardLinePosition(left, $colorDeath);
  @include cardImages (elderWand, 63px, 28px);
}

.diagonAlley {
  @include cardLinePosition(right, $colorPlaces);
  @include cardImages (diagonAlley, 56px, 17px);
}

.hagrid-square {
  @include cardLinePosition(bottom);
  @include cardImages (hagrid, 28px, 40px);
  @include cardImages (reverse, 109px, 17px);
  .reverse-img {
    left: 107px;
    top: inherit;
    bottom: 105px;
    transform: rotate(-90deg);
  }
}

.beauxbatons {
  @include cardLinePosition(bottom, $colorSchools);
  @include cardImages (beauxbatons, 20px, 65px);
}

.hogwarts {
  @include cardLinePosition(bottom, $colorSchools);
  @include cardImages (hogwarts, 11px, 63px);
}

.durmstrang {
  @include cardLinePosition(bottom, $colorSchools);
  @include cardImages (durmstrang, 20px, 65px);
}

.slizerin {
  @include cardLinePosition(bottom, 'empty', true);
  @include cardImages (slizerin, 13px, 45px);
}

.reverse {
  @include cardLinePosition(bottom);
  @include cardImages (reverse, 22px, 62px);
}

.goblet_fire {
  @include cardLinePosition(bottom, $colorArtefacts);
  @include cardImages (goblet_fire, 19px, 60px);
}

.sword {
  @include cardLinePosition(bottom, $colorArtefacts);
  @include cardImages (sword, 30px, 53px);
}

.stone {
  @include cardLinePosition(bottom, $colorArtefacts);
  @include cardImages (stone, 19px, 68px);
}

.quidditch {
  @include cardLinePosition(bottom);
  @include cardImages (quidditch, 44px, 25px);
}
