@import './variables.scss';
@import './mixins.scss';
@import './cards.scss';
@import './chat.scss';
@import './tokens.scss';
.gameBoard {
  display: inline-block;
  @each $name, $color in $playersColors {
    .#{$name}-token {
     @include makeToken($playerTokenSize, $color);
    }
  }

  .playerToken {
    position: absolute;
  }
  .col {
    width: $verticalCardHeight;
    height: $horizontalCardWidth;
    text-align: center;
    border: 1px solid black;
    position: relative;
  }
  .topSide, .bottomSide {
    display: flex;
    .col {
      &:first-child, &:last-child {
        width: $horizontalCardWidth;
      }
      width: $verticalCardWidth;
    }
  }
  .topSide {}
  .bottomSide {}
  .ro {
    display: flex;
    .rightSide, .leftSide {
      display: flex;
      flex-direction: column;
      .col {
        width: $horizontalCardWidth;
        height: $horizontalCardHeight;
      }
    }
    .leftSide {}
    .rightSide {}
    .centralSide {
      position: relative;
      width: $centerWidth;
      height: $centerHeight;
      display: flex;
      .centralBackground {
        z-index: -1;
        position: absolute;
        width: $centerWidth;
        height: $centerHeight;
        opacity: 0.4;
        background-repeat: no-repeat;
        background-size: $verticalCardWidth * $vCardsQty $verticalCardWidth * $hCardsQty;
        background-image: url("#{$path}/bg_center.png");
      }
      .gameButtons {
        $offset: ($centerHeight - $chatHeight)/2;
        margin-top: $offset;
        margin-bottom: $offset;
        margin-left: $offset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .button {
          width: 300px;
          height: ($centerHeight/8) - ($offset);
          line-height: ($centerHeight/8) - ($offset);
          background: url("#{$path}/bg.png");
          text-transform: uppercase;
          font-weight: bold;
          border: 1px solid black;
          cursor: pointer;
          span {
            display: block;
            width: 300px;
            height: ($centerHeight/8) - ($offset);
            line-height: ($centerHeight/8) - ($offset);
            @each $color in (red, yellow, orangered, green) {
              &.button-#{$color} {
                background: tarnsparentColor($color, 0.3);
              }
            }
          }
        }
      }
    }
  }
}
