  @import './variables.scss';
  @import './mixins.scss';
  .players {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .playerCard {
      @each $name, $color in $playersColors {
        .#{$name}-player {
          .photo {
            border: 2px solid $color;
            border-radius: 5px;
          }
          .progress-bar{
            background-color: $color;
          }
        }
      }
      .container-fluid {
        border: 2px solid black;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        margin-bottom: 10px;
        //border: 1px solid #666;
        .photo {
          img {
            width: 73px;
            height: 73px;
          }
          margin: {
            top: 20px;
            bottom: 20px;
            left: 5px;
          }
          //background: #fff;
          width: 77px;
          height: 77px;
         // text-align: center;
          //line-height: 77px;
        }
        .info {
          margin-top: 20px;
          font-size: 18px;
          color: white;
          text-shadow: 1px 1px 1px black;
        }
      }
    }
  }
