$vCardsQty: 13 - 2;
$hCardsQty: 6;
$short: 85px;
$long: $short*2;
$verticalCardWidth: $short;
$verticalCardHeight: $long;
$horizontalCardWidth: $long;
$horizontalCardHeight: $short;
$playerTokenSize: 30px;
$playersColors: (red, green, blue, yellow);
$colorNewspapers: #d86061;
$colorPlaces: #ed9f8b;
$colorShops: #ef9b52;
$colorMinistryMagic: #a48664;
$colorArtefacts: #87b47b;
$colorSchools: #6d85b1;
$colorDeath: #c5baca;
$colorTransport: #70826a;
$colorFaculcy: #fff;
$price-font: 14px;
$chat-input-font: 16px;
$field-title-font: 12px;
$path: '../images';
