<div class="chatContainer">
    <div class="messages">
        <p>
            <span class="player red">Yokozuna:</span>
            <span class="message">Hello world</span>
        </p>
        <p>
            <span class="player green">Yokozuna:</span>
            <span class="message">Hello world</span>
        </p>
        <p>
            <span class="player blue">Yokozuna:</span>
            <span class="message">Hello world Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, officia quis, nisi et enim eligendi debitis possimus, est animi consequatur numquam minima dicta asperiores quisquam, obcaecati laudantium fugiat corporis provident!</span>
        </p>
    </div>
    <div class="inputMessage">
        <input type="text" placeholder="Type a message">
    </div>
</div>
