<div class="players">
    <div v-for="player in players.list" class="playerCard">
        <div :class="[player.color + '-player']" class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="photo"><img :src="'static/avatars/' + player.avatar" alt=""></div>
                </div>
                <div class="com-md-6">
                    <div class="info">
                        <div class="playerName">{{player.name}}</div>
                        <div class="wallet">Wallet: {{player.wallet}} G</div>
                        <div class="capital">Capital: {{player.capital}} G</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="playerTime">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" :style="{width: player.timePercent +'%'}">
                                {{player.isActive ? player.timeout +' sec' : ''}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
